.wrapper {
	width: 775px;
}
.wrapper *[data-active="true"] {
	color: var(--accent-color);
}
.categories {
	font-weight: 700;
	height: 42px;
	label {
		height: 100%;
	}
}
.categories div label {
	font-weight: 700;
}
