body {
	font-weight: 400;
	min-height: 100vh;
	font-size: 16px;
	line-height: 22px;
	--accent-color: #f4511e;
	overflow-x: hidden;
	overflow-y: scroll;
}

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 10px;
}
