.wrapper {
	align-self: center;
	flex-grow: 1;
	div:nth-of-type(1) {
		z-index: 10;
	}
	input {
		height: 50px;
		border-color: transparent;

		&:focus-within {
			border-color: rgb(182, 181, 181);
		}
		&:focus {
		}
	}
}
.blur {
	visibility: hidden;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	right: 0;

	&.onFocus {
		visibility: visible;
		z-index: 5;
	}
}
